<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright 2021 Onestein (<https://www.onestein.nl>)
     License OPL-1 (https://www.odoo.com/documentation/14.0/legal/licenses.html#odoo-apps). -->

<odoo>

    <menuitem id="menu_configuration_sendcloud_website_brand"
              action="action_sendcloud_onboarding_website_wizard"
              parent="delivery_sendcloud_official.menu_sendcloud_sendcloud_config_wizards"
    />

</odoo>
